<h2>Notes by '<%= @tag.name %>':</h2>

<table class="table">
  <tbody>
<%= for note <- @notes do %>
    <tr>
      <td><%= link note.title, to: note.url %></td>
    </tr>
<% end %>
  </tbody>
</table>
