<h2>Show note</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @note.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @note.url %>
  </li>

</ul>

<%= link "Back", to: tag_path(@conn, :index) %>
