<h2>Listing tags</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for tag <- @tags do %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= link tag.ref_count, tag_note_path(@conn, :index, tag) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= render FsDev.NoteView, "form.html", action: note_path(@conn, :create), changeset: @new_note %>
