<h2 class="page-title">Listing tags</h2>

<div class="tag-container">
  <ul class="tag-list">
    <%= for tag <- @tags do %>
    <li class="tag-item">
      <%= link to: tag_note_path(@conn, :index, tag), class: "tag-link" do %>
        <%= tag.name %>
        <span><%= Integer.to_string(tag.ref_count)%></span>
      <%= end %>
    </li>
    <% end %>
  </ul>
</div>

<%= render FsDev.NoteView, "form.html", action: note_path(@conn, :create), changeset: @new_note%>
